/* features */
.features {
  @include flexGapWrap(flex, 30px, wrap);
}

.features__item {
  width: 100%;

  @include tablet {
    width: calc((100% - 30px) / 2);
  }

  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.features__wrap {
  @include flexCentered();
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-tertiary-color);
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-bottom: 10px;

  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-tertiary-color);
}
