/* Socials */
.socials {
  @include flexCentered();
  gap: 10px;
}
.socials__link {
  @include flexCentered();
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--text-accent-color);
    color: var(--text-secondary-color);
  }

  &--bg-color {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &--color {
    color: var(--text-secondary-color);
  }
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
