@mixin flexCentered($type: flex) {
  display: $type;
  justify-content: center;
  align-items: center;
}

@mixin flexGapWrap($type: flex, $gap, $wrap: nowrap) {
  display: $type;
  gap: $gap;
  flex-wrap: $wrap;
}
