:root {
  --text-secondary-color: #ffffff;
  --text-primary-color: #212121;
  --text-tertiary-color: #757575;
  --text-accent-color: #2196f3;

  --border-accent-color: #2196f3;
  --border-primary-color: #212121;

  --bg-secondary-color: #ffffff;
  --bg-primary-color: #2f303a;
  --bg-tertiary-color: #f5f4fa;
  --bg-accent-color: #188ce8;

  --btn-color: #2196f3;
  --btn-secondary-color: #f5f4fa;
  --btn-accent-color: #188ce8;
  --btn-accent-secondary-color: #2196f3;

  --logo-primary-color: #000000;

  --icon-color: #afb1b8;

  --checkbox-accent-bg-color: #2196f3;

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}